/*================================================================================

	Name: Adam's Reset CSS
	URI: https://github.com/adambbecker/abb-reset-css
	Description: Personal compilation of CSS reset rules
	Author: Adam B. Becker
	Author URI: https://github.com/adambbecker/
	License: MIT
	License URI: http://opensource.org/licenses/MIT
	Version: 1.0.0

	---

	Compilation of favorite rules from a variety of sources, predominantly:

	Tim Murtaugh: https://github.com/murtaugh/HTML5-Reset

==================================================================================

	1.	Sizing & Box Model
	2.	Base Element Clean Up
	3.	Form Elements
	4.	Clearfix
	5.	Helpers / Mixins

==================================================================================*/


/*--------------------------------------------------------------------------------*/
/*	1.	Sizing & Box Model
/*--------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, button, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figure, footer, header, main, nav, section, summary {
	display: block;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img,
object,
embed {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/*--------------------------------------------------------------------------------*/
/*	2.	Base Element Clean Up
/*--------------------------------------------------------------------------------*/
ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}

a {
	color: inherit;
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

small {
	font-size: 85%;
}

strong {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: bold;
	vertical-align: bottom;
}

td {
	font-weight: normal;
	vertical-align: top;
}

td img {
	vertical-align: top;
}

hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #ccc;
}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


/*--------------------------------------------------------------------------------*/
/*	3.	Form Elements
/*--------------------------------------------------------------------------------*/
input,
select {
	vertical-align: middle;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer;
}

button,
input,
select,
textarea {
	background: none;
	outline: none;
}


/*--------------------------------------------------------------------------------*/
/*	4.	Clearfix
/*--------------------------------------------------------------------------------*/
.clearfix {
	zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}


/*--------------------------------------------------------------------------------*/
/*	5.	Helpers / Mixins
/*--------------------------------------------------------------------------------*/
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}